bcrypt>=4.0,<6
PyJWT
email-validator
APScheduler
alembic
annotated-doc
annotated-types
anyio
click
colorama
et_xmlfile
fastapi
fuzzywuzzy
greenlet
h11
idna
Levenshtein
numpy
openpyxl
pandas
prometheus-fastapi-instrumentator
prometheus_client
psycopg2-binary
pyodbc
pymysql
pydantic
pydantic_core
python-dateutil
python-Levenshtein
python-dotenv
python-multipart
RapidFuzz
six
SQLAlchemy
starlette
thefuzz
typing-inspection
typing_extensions
tzdata
cryptography
ydata-profiling
setuptools>=68,<82
uvicorn